<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoSec Chat</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3+5/zftU7LONH6sA1Df1eJxg6TgDp9" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" rel="stylesheet" />
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid d-flex justify-content-center">
        <div class="chat-container bg-light shadow rounded mt-5">
            <div class="chat-messages" id="chat-messages"></div>
            <div class="chat-input bg-white">
                <input type="text" id="user-input" placeholder="Type your infosec question here...">
                <button id="send-btn" class="btn btn-primary">
                  <i class="material-icons">send</i>
                </button>
            </div>
        </div>
        <div class="table-container mt-5 ms-5 d-none">
            <div class="table-content bg-light shadow p-3" id="table-content"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3+5/zftU7LONH6sA1Df1eJxg6TgDp9" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-IKdvS6Gd1gr9pjZ10zD2hGmFFwNrsdGtS7NT4PI4F1pto5yi1g5z9X5Z5z5z5DaC" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-M97l7+I6gwG//La6WhD3JXSOry7URsOzilKL8D7G+3vxlFFPf7/ZNPS58do8rs7F" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
